{% extends 'layout.html' %}
{% block content %}
<div class="fluid-container">
	  <h1 class="text-center">Nephos - Channels</h1>
	  <button type="button" class="btn btn-primary new_channel_button" onclick="location.href='{{ url_for('main.add_channel') }}'"><i class="fas fa-plus"></i> Add New Channel</button>
</div>

<div class="table">
	<table class="table" id="tabledata">
		<thead class="thead-dark">
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Name</th>
			  <th scope="col">IP Address</th>
			  <th scope="col">Country Code</th>
			  <th scope="col">Language Code</th>
			  <th scope="col">Timezone</th>
			  <th scope="col">Status</th>
			  <th scope="col">Edit</th>
			  <th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
		{% for value in channels %}
			<tr>
			  <td>{{ value[0] }}</td>
			  <td>{{ value[1] }}</td>
			  <td>{{ value[2] }}</td>
			  <td>{{ value[3] }}</td>
			  <td>{{ value[4] }}</td>
			  <td>{{ value[5] }}</td>
			  <td>{{ value[6] }}</td>
			  <td> <a href="{{ url_for('main.edit_channel', id=value['channel_id']) }}" class="fas fa-pencil-alt"></td>
			  <td> <a href="{{ url_for('main.delete_channel', id=value['channel_id']) }}" class="fas fa-times"></td>
			</tr>
		{% endfor%}
		</tbody>
	</table>
</div>
{% endblock %}
