{% extends 'layout.html' %}
{% block content %}


{% if form.errors %}
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form[field_name].label }}: {{ error }}
        </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form method="POST">
	{{ form.csrf_token }}
	<div class="form-group">
    	{{ form.name.label }}
    	{{ form.name(class="form-control") }}
	</div>

	<div class="form-group">
    	{{ form.channel_name.label }}
    	{{ form.channel_name(class="form-control") }}
	</div>

    <div class="form-group">
        {{ form.start_time.label }}
        {{ form.start_time(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.duration.label }}
        {{ form.duration(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.rep.label }}
        {{ form.rep(class="form-control") }}
    </div>

	{{ form.submit(class="btn btn-primary") }}


</form>


{% endblock %}